<!DOCTYPE html>
<html>
  <head>
    <title>Deepdive</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class = "box" id = "teamblue-co"><a href="http://teamblue.co" class = "inner-box" id ="inner-teamblue-co">teamblue.co</a></div>
    <div class = "box" id = "desktop"><a href="http://deepdive.teamblue.space" class = "inner-box" id = "inner-desktop">deepdive(desktop)</a></div>
    <div class = "box" id = "mobile"><a href="http://m.deepdive.teamblue.space" class = "inner-box" id = "inner-mobile">deepdive(mobile)</a></div>
  </body>
</html>
